:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: #2d2bba;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #629ace !important;
}

/* Remove display: flex from body, add it only to body */
body {
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #000000;
}

h3 {
  color: #000000;
}
